<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лента постов</title>
    <style>
        .wrapper {
            width: 1000px;
            margin: auto;
        }

        .comment {
            display: inline-block;
            height: 100px;
            width: 800px;
            margin: 0 5px;
            border: dimgray 1px dashed;
        }

        .post {
            display: block;
            margin: 10px;
            padding: 5px;
            width: 960px;
            border: dimgray 1px dotted;
            font-size: 28px;
        }

        .like-count {
            display: inline-block;
        }

        .like-heart {
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h2 th:text="${post.name} + ' (#' + ${post.id} + ')'"></h2>
    <div class="image"><img width="200px" th:src="${post.image}"></div>
    <div>
        <div class="likes"><strong>Likes:</strong>
            <div class="like-count" id="like-counter" th:text="${post.likes}"></div>
            <div class="like-heart" onclick="increaseLikeCounter();">&#x2764</div>
        </div>
        <div class="tags"><strong>Tags:</strong>
            <th:block th:text="${post.tags}"/>
        </div>
    </div>
    <div class="post">
        <p th:text="${post.text}"/>
    </div>
    <div><strong>Comments:</strong></div>
    <div class="comment-wrapper">
        <div th:each="comment : ${post.comments}">
            <div class="comment comment-static" id="comment-static" th:text="${comment.text}"
                 th:data-comment-id="${comment.id}"
                 onclick="toggleEditCommentForm(this.getAttribute('data-comment-id'))"/>
            <div class="comment-edit-wrapper" id="comment-edit-wrapper" th:data-form-id="${comment.id}"
                 style="display: none;">
                <form id="comment-edit-form" action="#" th:action="@{/comment/edit}" method="post"
                      th:object="${editedComment}">
                    <label for="commentEdited">Редактирование комментария: </label>
                    <br>
                    <textarea cols="80" rows="5" id="commentEdited" name="text" th:text="${comment.text}"
                              required="required"></textarea>
                    <input type="hidden" name="id" th:value="${comment.id}"/>
                    <input type="hidden" name="postId" th:value="${post.id}"/>
                    <button type="submit">Редактировать</button>
                </form>
            </div>
            <!--/*@thymesVar id="comment" type="ru.yandex.practicum.dto.CommentDto"*/-->
            <form id="delete-form" th:action="@{/comment/{id}/post/{postId}(postId=${post.id},id=${comment.id})}"
                  method="post" style="display:inline;">
                <button class="delete-button" type="submit">&#x274C</button>
            </form>
        </div>
    </div>
    <div class="form-container" style="display: none;" id="commentForm">
        <h3>Добавить комментарий</h3>
        <!--/*@thymesVar id="newComment" type="ru.yandex.practicum.dto.CommentDto"*/-->
        <form action="#" th:action="@{/comment}" method="post" th:object="${newComment}">
            <label for="commentText">Комментарий: </label>
            <br>
            <textarea cols="80" rows="5" id="commentText" name="text" required="required"></textarea>
            <input type="hidden" name="postId" th:value="${post.id}"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <button class="btn-add" onclick="toggleForm()">Добавить коммент</button>
</div>
<script>
    const textarea = document.querySelector('.comment-wrapper');
    textarea.onkeydown = function (e) {
        if (e.ctrlKey && e.key === 'Enter') {
            const form = document.querySelector('.active > #comment-edit-form')
            form.submit();
        } else if (e.key === 'Escape') {
            const form = document.querySelector('.active');
            const id = form.getAttribute('data-form-id');
            toggleEditCommentForm(id);
        }
    }

    function toggleForm() {
        const form = document.getElementById('commentForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }

    function increaseLikeCounter() {
        const elementLikeCounter = document.getElementById('like-counter');
        elementLikeCounter.textContent = +elementLikeCounter.textContent + 1;

        const xhr = new XMLHttpRequest();
        xhr.open("POST", window.location.href + '/like', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
    }

    function toggleEditCommentForm(attr) {
        const wrapper = document.querySelector("[data-form-id='" + attr + "']");
        const comment = document.querySelector("[data-comment-id='" + attr + "']");
        const deleteForm = document.getElementById('delete-form');
        comment.style.display = wrapper.style.display;
        deleteForm.style.display = wrapper.style.display;
        wrapper.style.display = wrapper.style.display === 'none' ? 'inline-block' : 'none';
        wrapper.classList.toggle('active');
        wrapper.querySelector("#commentEdited").focus();
    }
</script>
</body>
</html>